*::-webkit-scrollbar {
    width: 1em;
    height: 1em;
    margin-top: 10px;
}
 
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
*::-webkit-scrollbar-thumb {
  background-color: dimgrey;
  outline: 1px solid slategrey;
  border-radius: 50px;
  
}
body {
  
  /* background: url("../images/bg.gif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; */
}

.container {
    margin-top: 2px;;
    background: url("../images/bg.gif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

* {
  margin: 0;
  color: whitesmoke;
}
.banner {
  background-color: black;

  margin: 0;
  text-align: center;
  padding: 5px;
}


.window {
  background-color: #000000af;
  width: 70%;
  margin: -5px auto;
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  
}


.content {
  border: solid dimgrey 1px;
  border-radius: 12px;
  max-height: 40vh;
  overflow: auto;
}


.input {
  width: 400px;
  margin: auto;
  border: solid dimgrey 1px;
  border-radius: 12px;
  text-align: left;
}

.headder {
  background-color: dimgrey;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin: 0;
  color: whitesmoke;
  padding: 5px;
}

table {
  width: 90%;
  color: whitesmoke;
  text-align: center;
  margin: auto;
}

th, td {
  color: whitesmoke;
}

label {
  
  color: whitesmoke;
  font-size: 20px;
  padding: 10px;
  
}

.inputText {
  width: 376px;
  margin: 10px;
  padding: 0;
  color: black;
}

.inputText:focus {
    outline-offset: 1px;
    outline: whitesmoke 1px dotted;
  }

#submit, .clear{
  width: fit-content;
  margin: 10px;
  background-color: dimgrey;
  color: whitesmoke;
  padding: 5px;
  border-radius: 10px;
  user-select: none;
  transition: all 0.5s;
}

#submit:hover, .clear:hover {
    width: fit-content;
    margin: 10px;
    background-color: whitesmoke;
    color: dimgrey;
    padding: 5px;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
    box-shadow: white 0.5px 0px 5px, white -0.5px 0px 5px, white 0px 0.5px 5px, white 0px -0.5px 5px;
    
  }

  .delete:hover {
      cursor: pointer;
      color:red;
  }
  @media screen and (max-width: 425px) {
    body{
        font-size: 10px;
    }
    .input {
        width: 200px;
    }
    .inputText{
        width: 175px;
    }
    .window{
        width: 75%
    }
    .content{
        margin: 0;
        padding: 0;
        width: 100%;
        max-height: 160px;
    }
  }